

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: math;
    overflow

}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.flex-display{
    display: flex;
}
.justifuy-content{
    justify-content: center;
}
#background{
    margin-top: 10%;

}
#sedans{
    background-color: rgb(243, 159, 3);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2.5rem;
    width: 15rem;
    height: 30rem;
    border-radius: 1rem 0 0 1rem;
}
#sedans svg{
    margin-top: 1.5rem;
}
#sedans span{
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: #fff;
}
#sedans p{
    margin-top: 3rem;
    color: #fff;
}
#sedans button{
    background-color: #fff;
    border: 0.13rem white solid;
    border-radius: 2rem;
    font-size: 1rem;
    width: 7.5rem;
    height: 3rem;
    margin-top: 3rem;
}
#sedans a{
    color: rgb(243, 159, 3);
    font-weight: 600;
}
#suv{
    background-color: rgb(45, 130, 156);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2.5rem;
    width: 15rem;
    height: 30rem;
}
#suv svg{
    margin-top: 1.5rem;
}
#suv span{
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: #fff;
}
#suv p{
    margin-top: 3rem;
    color: #fff;
}
#suv button{
    background-color: #fff;
    border: 0.13rem white solid;
    border-radius: 2rem;
    font-size: 1rem;
    width: 7.5rem;
    height: 3rem;
    margin-top: 3rem;
}
#suv a{
    color: rgb(45, 130, 156);
    font-weight: 600;
}
#luxury{
    background-color: rgb(4, 101, 126);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2.5rem;
    width: 15rem;
    height: 30rem;
    border-radius: 0 1rem 1rem 0;
}
#luxury svg{
    margin-top: 1.5rem;
}
#luxury span{
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: #fff;
}
#luxury p{
    margin-top: 3rem;
    color: #fff;
}
#luxury button{
    background-color: #fff;
    border: 0.13rem white solid;
    border-radius: 2rem;
    font-size: 1rem;
    width: 7.5rem;
    height: 3rem;
    margin-top: 3rem;
}
#luxury a{
    color: rgb(4, 101, 126);
    font-weight: 600;
}